page-home {

    .contentWrapper{
        margin-top: 20rem;
        margin-left: 15%;
        margin-right: 15%;
       
        align-content: center;
        color: #324D5C;
    }

    .quote{
        font-size: 2.4rem;
    }
   
    .menuLogo{
        position: absolute;
        top: 10px;
        right: 20px;
       max-width: 25px;
    }

    .quotationMark{
        color: #EC8C1E;
    }
}
