page-advance-directives {
    ion-card-header {
        background-color: lightgray;
    }

    .sub-item {
        padding-left: 50px !important;
        padding-right: 25px;
    }
    .sub-sub-item {
        padding-left: 75px !important;
        padding-right: 50px;
    }
}
