<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{'AD.TITLE' | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col col-2></ion-col>
      <ion-col col-8><button ion-button color="secondary" round block (click)="askQuestions()">{{'AD.DESCRIPTION' | translate}}</button></ion-col>
      <ion-col col-2></ion-col>
    </ion-row>
  </ion-grid>
  <ng-container *ngFor="let group of groups; let i = index">
    <ion-card color="primary" (click)="inability(i)">
      <ion-card-content>
        {{group.groupTitle}} 
      </ion-card-content>
    </ion-card>
    <ng-container *ngFor="let question of group.questions">
      <ion-card [hidden]="!hideInability[i]">
        <ion-card-header text-wrap>
          <b>{{question.label}}</b>
        </ion-card-header>
        <ion-card-content>
          <ion-list *ngFor="let answer of question.answerValue">
            <ng-container *ngIf="question.type == 'text' && answer">
              <ion-item text-wrap><b>{{answer.label}}:</b> {{answer.value}}</ion-item>
            </ng-container>
            <ng-container *ngIf="question.type == 'radio' && answer">
              <ion-item text-wrap>{{answer.label}}</ion-item>
              <ion-list *ngFor="let subAnswer of question.subAnswerValue">
                <ng-container *ngIf="subAnswer">
                  <ion-item class="sub-item" text-wrap>{{subAnswer.label}}</ion-item>
                </ng-container>
              </ion-list>
              <ion-list *ngFor="let subSubAnswer of question.subSubAnswerValue">
                <ng-container *ngIf="subSubAnswer">
                  <ion-item class="sub-sub-item" text-wrap>{{subSubAnswer.label}}</ion-item>
                </ng-container>
              </ion-list>
            </ng-container>
            <ng-container *ngIf="question.type == 'checkbox' && answer">
              <ion-item text-wrap>{{answer.label}}</ion-item>
            </ng-container>
          </ion-list>
          <ng-container *ngIf="question.answerValue.length < 1">
            <ion-list>
              <ion-item>Aucune réponse disponible</ion-item>
            </ion-list>
          </ng-container>
        </ion-card-content>
      </ion-card>
    </ng-container>
  </ng-container>
</ion-content>